<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>practx_Mobile.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>07C8373B7F1B664F97D62F04CBDB955A07049C40</string>
				<key>dateExpires</key>
				<string>09/04/2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ZL992SVF67.com.bcapturetech.practx</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>ZL992SVF67</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>practx_Mobile.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>bb32796c-d198-4c14-bb16-8d3b39eed858</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.bcapturetech.practx</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ZL992SVF67</string>
				<key>name</key>
				<string>Oge Chinderbell</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
